In [ ]:
'''
1.  Data structures : are built-in functions or  user-defined containers that "organise" and "manage"data
effeciently" enabling faster access , modification and scalability in applications.
-In python core data structures are as follows : lists,tuples,dictionaries and sets.
Importance of data Structures: 
1) Performance Optimization : choosing right structure reduces time ccomplexity and increases performance
2) Memory Efficiency : Tuples use less memory due to immutability.
3) Data Integrity : immutable structures prevent data modifications
4) Expressive code : dictionaries and sets make code readable.
5) Integration with libraries : pandas,data frames and numpy are built on these foundational structures.
'''

In [1]:
'''2. Difference between Mutable and Immutable Data types:
Mutable data type: object can be modified without creating a new object.internal state can change but 
the identity remains same.
'''
my_list = [20,30,40,60]
my_list

[20, 30, 40, 60]

In [2]:
my_list[0] = 30
my_list

[30, 30, 40, 60]

In [3]:
'''
2-b) Immutable data type: object can't be modified after creation.without creating a new object.Any alteration
gives an error as shown below.
'''
my_tuple = (20,30,40,60)
my_tuple

(20, 30, 40, 60)

In [4]:
my_tuple[0]= 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''3. Difference between List and Tuples 
Lists : are mutuable and Square brackets [] are used.
Tuples : are Immutable and paranthesis () are used.
Lists : require more memory and are slower compared to tuples.
Tuples : are faster consume less memory space.
'''

In [ ]:
'''
4. Dictionaries store data as a "Key Value" pair. where as a each key acts like a label to access
its assocoiated value. Keys must be typically "unique and immutable" such as strings or numbers while
values can be "any data type including lists or dictionaries". Keys are "case sensitive" and must be
"immutable"
Data opertions : the data inside dictionary is "unordered",they are organised for effiecent access of 
thier keys".i.e in student file student name can be accessed by using "key : name". Common operations
include "inserting","deleting","updating" and "verifying"data.
Ex: student_file = {"name":"Prithvi", "age": 30, "subject": "DS"}
'''

In [ ]:
'''
5. Sets are used when we need 'unique elements",duplicates are blocked automatically
sets are also preffered when "faster checks are required that if an item exists" they are much quicker
than lists. Sets also mathematical operation like "unioun and Intersection" where as lists allow
duplicates and when "order" is required.
'''

In [ ]:
'''
6. String is "sequence" of characters used for storing "text" and is "immuatable"
List can hold any type of data inlucing numbers,strings etc and is "mutable"
Both support "indexing" and "slicing" But only list can be "altered" in place.
we can use strings for "texts" and lists for "flexible collection of items"
'''

In [ ]:
'''
7. Tuples ensure data integrity by being "immutable" once created they cant be chanaged. 
Being "immutable" allows "accidental modification " ," hashable" and "maintain consistency in the data"
'''

In [ ]:
'''
8. A "Hash Table" is a data structure that stores "key Value Pairs". It uses "hash function"to compute
an "index" from key. where the corresponding value is stored. This allows fast data retrival.
In python3 dictionary "dict" is implemented as "hash table".Keys is dictionary must be hashable(immutable
withfixed hash value) dictionaries support fast look ups ,insertions and deletions using keys.

'''

In [ ]:
'''
9. Yes, Lists in python3 can hold different data types. A single list can hold different data types such 
"integers""Strings" , "floats" "Boolean" or other objects.
ex: [1, "hello", 3.14, True] is a valid list.

'''

In [ ]:
'''
10. Strings in python are immutable , once created thier content cannot be changed'.
-this ensures "Hashabaility" which can  used as "keys" in dictionary.
-Improves memory efficiency through "string inerning"where identitical strings share same location.
-Ensures "thread Safety" prevents "accidental safety".
'''

In [ ]:
'''
11.Dictionaries provide"faster lookups" by key compared to "parallel lists"
- They efficiently store "Key-value Relationships" like "name "ages" with out needing "parallel lists".
- They ensure "unique keys" preventing duplicates. which is useful for "counting and indexing tasks"
- how ever lists are better when "order matters"
'''

In [ ]:
'''
12. A real time scenario where tuples are prefered over lists is geographical co-ordinates of location 
i.e latitude and longitude of place .Ex NewYork (40.7128, -74.0060) so that cant be modified.
'''

In [ ]:
'''
13. Sets in pyhton "automatically" remove duplicates when created sorting only the "unique values".
Ex: S= {2,3,6,5,2 ,3} o/p = {2,3,6,5}
'''

In [ ]:
'''
14. The "in" key word checks differently for lists and dictionaries in terms of "what it checks" and 
"performance efficiency"
For Lists: "in" keyword checks whether a "value" exists "anywhere" in the list. and returns "true" if the 
value is found .Else false is returned. performance efficiency is bit less compared to dictionary.
For Dictionary: "in" keyword checks for the "key" exists in the dictionary. It doesnt search through 
values. the performance efficiency is much better compared lists.
'''

In [ ]:
'''
15. NO we cannot modify tuples because they are designed to "immutable".This immutability 
helps in "Data Integrity" " better performance" and "Data Safety".Ex: storing fixed data like
String co-ordinates or dictionary keys.
'''

In [ ]:
'''
16. Nested Dictionary : is a dictionary that contains other dictionary as values , allowing user to
organise data in a hierarchical structure. 
Usecase: Employee management system ina employee database.
Employee = {
    "emp_1" : {"name" : "prithvi","Age" : 30}
    "emp_2" : {"name" : "Sevil","Age" : 25}
     emp_3" : {"name" : "James","Age" : 38}
     }
print(Employee[emp_2]["name"]) o/p: sevil
'''

In [ ]:
'''
17. Time Complexity : Accessing an element in dictionary is "fast" and takes about same time no matter 
how big the dictionary is. this because python uses hash tables to find values directly using the key.
on an average ist O(1). In rare cases like many "key collisions" it slows down to O(n) but  for practical
purposes its constant.
'''

In [ ]:
'''
18. List are preffered over dictionary when we need "ordered data" and "frequent indexing"/"sequential 
processing". Can be used when there is requirement of maintaining "chronological records" or "when "order 
matters"
'''

In [ ]:
'''
19. Dictionaries were considered as "unordered" earlier because they use "hash tables" and they dont
preserve "insertion order" it means sequence can appear random and wasnt gaurnteed to stay consistent.
however from python 3.7 version dictionaries do preserve insertion order by default.though its more
of implementation detail than a core feature.
It "affects" how we intearct with them as we cannot depend on index based access like in "lists",
iterating depends on the internal hash mechanism, not positional order. 
'''

In [ ]:
'''
20. The main difference lies in "how we access the elements"
In lists we access elements using position "Index"  and psoition starts from "zero".can be used when need
ordered , index based access.
In dictionary we retrieve values using "Keys".Used when we need "fast","key based look up's"
'''

In [ ]:
#practical programs

In [5]:
#1.WAPP to create a  string with your name and print it

a = "Venkata Prithvi Raju Bhupathi"
print("My Name is : ",a)

My Name is :  Venkata Prithvi Raju Bhupathi

In [7]:
#2.WAPP to find the length of the string "Hello World"
#len()fucntion is used to find the length of the string.

a = "Hello World"
len(a)

11

In [8]:
#3.WAPP to  slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
three_char = my_string[:3]#slicing exclusive for first three characters
print(three_char)

Pyt

In [12]:
#4.WAPP to convert the string "hello" to uppercase
my_string = "hello"
convert_upper = my_string.upper() #upper() is used to convert lower to uppercase
print(" output is :", convert_upper)

 output is : HELLO

In [14]:
#5.WAPP  to replace the word "apple" with "orange" in the string "I like apple"
input_str = " I like apple"
output_str = input_str.replace("apple","orange")
print("Modified version of str is : " , output_str)

Modified version of str is :   I like orange

In [15]:
#6.WAPP to create a list with numbers 1 to 5 and print it
a= [1,2,3,4,5] #list is created
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#7.WAPP  to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(5)#append is used to add to the list
print(a)

In [18]:
#8.WAPP to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1,2,3,4,5]
a.remove(3) #remove is used to delete the selected number or item from list
print(a)

[1, 2, 4, 5]

In [19]:
#9.WAPP to to access the second element in the list ['a', 'b', 'c', 'd']
a = [ 'a','b','c','d']
print(a[1]) #list items start from 0,1,2,3

b

In [22]:
#.10 WAPP to  to reverse the list [10, 20, 30, 40, 50].
a = [10,20,30,40,50]
a.reverse() #reverse function call reverses the list
print(a)

[50, 40, 30, 20, 10]

In [23]:
#.11.WAPP to create a tuple with the elements 100, 200, 300 and print it
a = (100,200,300) #tuple is created
print(a)

(100, 200, 300)

In [24]:
#12. WAPP to  access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a = ('red','green','blue','yellow')
a[2]#Second to last element is blue

'blue'

In [27]:
#13. WAPP to find the minimum number in the tuple (10, 20, 5, 15)
num = (10,20,5,15)
min_num = min(num)
print("Minimum number is :",min_num)

Minimum number is : 5

In [29]:
#14.WAPP to  find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tupl = ('dog','cat','rabbit')
index_tupl = my_tupl.index('cat')
print(index_tupl)

1

In [1]:
#15.WAPP to create a tuple containing three different fruits and check if "kiwi" is in it
my_fruits = ("tuple", "kiwi" , "mango")
if "kiwi" in my_fruits:
    print(" Yes kiwi is in tuple")
else:
    print("No, Kiwi is not in tuple")

 Yes kiwi is in tuple

In [4]:
#16 WAPP to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [5]:
#17 WAPP to clear all elements from the set {1, 2, 3, 4, 5}.
b = {1,2,3,4,5}
b

{1, 2, 3, 4, 5}

In [10]:
b.clear() #clears all the elements with in the set
b

set()

In [20]:
#18.WAPP to remove the element 4 from the set {1, 2, 3, 4}.
c = {1,2,3,4}
c.remove(3) #remove deletes the element
print(c)

{1, 2, 4}

In [23]:
#19.WAPP to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1,2,3}
s2 ={3,4,5}
s3 = s1 | s2 #Unioun includes all elements from both the sets
s3

{1, 2, 3, 4, 5}

In [24]:
#20. WAPP to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s3 = {1,2,3}
s4 = {2,3,4}
s5 = s3 & s4 # intersection of two sets gives the common part
s5

{2, 3}

In [26]:
#21.WAPP  to create a dictionary with the keys "name", "age", and "city", and print it
dict_1 = { "name": "pritz","age": 30 , "city": "Hyderabad"}
dict_1

{'name': 'pritz', 'age': 30, 'city': 'Hyderabad'}

In [28]:
#22.WAPP to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
old_value = { "name" : 'john',"age" : 25 }
old_value

{'name': 'john', 'age': 25}

In [32]:
old_value[ "country"] = "USA"
old_value

{'name': 'john', 'age': 25, 'country': 'USA'}

In [34]:
#23.WAPP to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict_2 = {'name': 'Alice', 'age': 30}
dict_2['name']

'Alice'

In [38]:
#24.WAPP to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_3.pop('age')

22

In [39]:
dict_3 #age element has been removed

{'name': 'Bob', 'city': 'New York'}

In [42]:
#25.WAPP to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict_4 = {'name': 'Alice', 'city': 'Paris'}
if 'city'in dict_4: #checks if city exists in dictionary.
    print("city exists")
else:
    print("city does not exist")

city exists

In [11]:
#26 WAPP to create a list, a tuple, and a dictionary, and print them all.
my_list = [ 1,2.0,3.5,(5+6j),"pritz",'Sevil',2.0,3,4]
my_tuple = (1,3,6,"Raj","Bhupathi",(7+9j),8,75.5,1,3,6)
my_dict = {"name": "Pritz", "class" : "Datasceince" , "place": 'Hyderabad'}
print ("my_list is : \n" , my_list ,  "\n my_tuple is : \n", my_tuple , "\n my_dict is : \n ", my_dict)

my_list is :
 [1, 2.0, 3.5, (5+6j), 'pritz', 'Sevil', 2.0, 3, 4]
 my_tuple is :
 (1, 3, 6, 'Raj', 'Bhupathi', (7+9j), 8, 75.5, 1, 3, 6)
 my_dict is :
  {'name': 'Pritz', 'class': 'Datasceince', 'place': 'Hyderabad'}

In [9]:
#27 WAPP to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)


import random #random library is imported to generate random inputs

numbers = [random.randint(1, 100) for _ in range(5)]

print("Random numbers before sorting: \n" ,numbers)

numbers.sort() # sort is called for ascending order.

print("Sorted list: \n", numbers) #prints the sorted list

Random numbers before sorting:
 [40, 23, 41, 34, 50]
Sorted list:
 [23, 34, 40, 41, 50]

In [14]:
#28.Write a code to create a list with strings and print the element at the third index

my_list = [ "raj","bhupathi","pwskills","Datascience","Varma"] #list Created

print( "The element at third index is : ", my_list[2])

The element at third index is :  pwskills

In [20]:
#29 WAPP to combine two dictionaries into one and print the result

dict_1 = {"name": "Raj" , "age": 35 , "Course": 'DataScience'}
dict_2 = { "grade" : 'a+', "job" : "freelancer", }
result = dict_1 | dict_2 # | operator combines both dictionaries
print ("combined dictionary :", result)

combined dictionary : {'name': 'Raj', 'age': 35, 'Course': 'DataScience', 'grade': 'a+', 'job': 'freelancer'}

In [24]:
#30.WAPP to convert a list of strings into a set.
my_list = [ "raj","bhupathi","pwskills","Datascience","Varma","Vishnu","Varma"] #original list
my_set = set(my_list)
print ("list before converting into set :", my_list)
print (" final output in form of set : " , my_set) #set removes duplicates as well

list before converting into set : ['raj', 'bhupathi', 'pwskills', 'Datascience', 'Varma', 'Vishnu', 'Varma']
 final output in form of set :  {'pwskills', 'Varma', 'Datascience', 'bhupathi', 'Vishnu', 'raj'}